.main-page {
    width: 980px;
    margin-left: 20px;
}

.edit-box {
    background-color: white;
}

.mng-box {
    width: 300px;
    background-color: white;

    display: flex;
    flex-direction: column;

    padding: 20px 10px;
}

.words-label {
    font-size: 15px;
    color: gray;

    width: 80px;
    padding: 5px 10px;
}
.words-status {
    font-size: 15px;
    padding: 3px 5px;
}


.single-line-enter {
    margin-top: 5px;
    margin-bottom: 5px;

    display: flex;
    flex-direction: row;
}

.field-input {
    width: 200px;
    padding: 5px 12px 5px 12px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #e8e8e8;
    font-size: 14px;
    color: #222;
    caret-color: #222;
    height: 22px;
    outline:none;
}

.btn-submit-wrapper {
    display: flex;
    flex-direction: row-reverse;
}

.submit-btn {
    background-color: #c9394a;
    color: white;
    font-weight: 400;
    font-size: 16px;
    outline: none;
    border: 0px;
    padding: 8px 26px;
}
.submit-btn:hover {
    background-color: #d34858;
    cursor: pointer;
}

.clear-btn {
    background-color: #d0d0d0;
    color: white;
    font-weight: 400;
    font-size: 16px;
    outline: none;
    border: 0px;
    padding: 8px 26px;
}
.clear-btn:hover {
    background-color: #e3e3e3;
    cursor: pointer;
}

.search-ico-wrapper {
    margin-left: -38px;
    border-left: 1px solid #e8e8e8;
    padding-left: 6px;
}
.search-ico {
    margin-right: 30px;
    width: 20px;
    height: 20px;
    
    position: relative;
    top: 6px;
}
.search-ico:hover {
    cursor: pointer;
}


.input-date-picker{
    padding-left: 10px; 
    height: 25px; 
    min-width: 162px; 
    line-height: 25px; 
    border: 1px solid #e6e6e6;  
    background-color: #fff;  
    border-radius: 2px;
}


/* 用户列表 start */

.user-list-wrapper {
    margin-top: 15px;
    background-color: #fff;
    padding: 20px 25px 50px 25px; 
}

.table-user {
    width: 900px;
    margin-top: 20px;
    border-collapse: collapse;
    border: 1px solid #e8e8e8;
    color: #222;
}
.head-th {
    height: 50px;
    background-color: #f4f4f4;
}
.user-single-line {
    border: 1px solid #e8e8e8;
    height: 50px;
}
.user-single-line:hover {
    background-color: #f4f4f4;
}
.table-td-left {
    text-align: left;
    color: #222;
}
.table-td-right {
    text-align: right;
    color: #222;
}